.todo-list-container {
  width: max-content;
  height: max-content;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ad1b1b;
  border-radius: 10px;
  background: rgb(255,169,207);
  background: radial-gradient(circle, rgba(255,169,207,1) 0%, rgba(104,30,30,1) 100%); 
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li.completed {
  text-decoration: line-through;
  color: rgb(255, 255, 255);
}

li button {
  margin-left: 5px;
}

li button:nth-child(2) {
  background-color: #007bff;
}

li button:nth-child(2):hover {
  background-color: #0056b3;
}

li button:nth-child(3) {
  background-color: #dc3545;
}

li button:nth-child(3):hover {
  background-color: #c82333;
}