#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    font-family: sans-serif;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.main-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgb(159, 159, 159);
    border-radius: 10px;
}

.search-bar {
    padding: 10px 10px;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px 10px;
}

.btn {
    padding: 10px 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

.line {
    width: 70%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c7c7c7;
    padding: 0;

}

.list-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px
}

.task {
    font-weight: 550;
    width: 200px;
    font-size: 20px;
}

.upper-half {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.ibtn {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    height: 100%;
    padding: 10px 10px;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}